{% load static %}"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static "favicon.png" %}">
    <title>Ajamcargo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="{% static "css/chunk-0ba3a855.52fb81ce.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-17509fd1.edb732f3.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-3862d05b.9571834c.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-39472527.b3a6b877.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-3d11ab05.ddac1fb0.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-42bf02e6.81bf3bb6.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-4653ddec.68e6a77c.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-4839285b.0d089034.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-92d63aba.edb732f3.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-ae5b22ec.c1e6d6c2.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-afd36f6c.7069eb5d.css" %}" rel="prefetch">
    <link href="{% static "css/chunk-c5abf732.68e6a77c.css" %}" rel="prefetch">
    <link href="{% static "js/chunk-0ba3a855.9642b58f.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-17509fd1.6596e7f2.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-2d219ff8.40f329b7.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-2d229242.cc6ce214.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-2d22d09f.79c54d89.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-3660b9d1.d1f03dc6.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-3862d05b.6c124a69.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-39472527.ca6340b7.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-3d11ab05.441cd473.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-42bf02e6.d81ffb37.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-4653ddec.63286b7f.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-4839285b.bb4793e3.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-759d209c.1d45d188.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-92d63aba.dbc8c42b.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-ae5b22ec.28a311fd.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-afd36f6c.107bb8dc.js" %}" rel="prefetch">
    <link href="{% static "js/chunk-c5abf732.a99bb345.js" %}" rel="prefetch">
    <link href="{% static "css/app.8a05d3a1.css" %}" rel="preload" as="style">
    <link href="{% static "css/chunk-vendors.0bca4e47.css" %}" rel="preload" as="style">
    <link href="{% static "js/app.bca47f7e.js" %}" rel="preload" as="script">
    <link href="{% static "js/chunk-vendors.87228969.js" %}" rel="preload" as="script">
    <link href="{% static "css/chunk-vendors.0bca4e47.css" %}" rel="stylesheet">
    <link href="{% static "css/app.8a05d3a1.css" %}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but material-free doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
<div id="app"></div>
<script src="{% static "js/chunk-vendors.87228969.js" %}"></script>
<script src="{% static "js/app.bca47f7e.js" %}"></script>
</body>
</html>